/* main grid */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
}

/* grid column placement */
.header {
    grid-column: 1 / -1;
}

nav {
    grid-column: 1 / -1;
}

.slideshow-container {
    grid-column: 1 / -1;
}

footer {
    grid-column: 1 / -1;
}


