* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  font-family: 'Montserrat', sans-serif;


}


/* KNAPP */
.knapp {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s;
  margin-top: 30px;
  margin-bottom: 50px;
}

.knapp:hover {
  border: 1px solid rgba(206, 206, 206, 0.5);
  background: rgba(206, 206, 206, 0.5);
  transition: 0.5s;
}


/* navbar placement */
nav {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin: auto;
}

/* navbar list styling */
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    background-color: rgb(183, 14, 14);
    font-size: 1em;
}

/* links */
nav, a {
  position: relative;
  text-decoration: none;
  color: #e0e0e0;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    background-color: rgb(231, 47, 47);
    padding: 1%;
    padding-left: 14%;
    padding-right: 14%;
}

/* Liten meny */
.litenmeny {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/slideshow1.jpg");
  text-align: center;
  border-top: 3px solid #e0e0e0;

}

#bottomline {
  border-bottom: 3px solid #e0e0e0;

}

.omoss-h3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.dagens-h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.dagens-p {
  padding-left: 5%;
  padding-right: 5%;
}


article {
  font-size: 1em;
  background-color: rgb(231, 47, 47);
  padding: 16px
}

/* footer styling */
footer {
  display: flex;
  background-color: rgb(196, 23, 23);
  font-size: 1em;
  width: 100%;
  justify-content: center;
}

footer p {
    padding: 20px;
}

/* Meny styling */
article {
  font-size: 1em;
  background-color: rgb(231, 47, 47);
  padding: 16px
}



/* Hamburgarmeny */


nav, div{
  box-sizing: border-box;
}
nav{
  background-color: rgb(213, 32, 32);
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: #fff;

}

.logo{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-links {
  display: flex;
  justify-content:space-around;
  width: 50%;
  text-transform: uppercase;
}
.nav-links a{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom:2px solid transparent;
  transition:0.5s ease;
  transform: translateX(0%);
}
.nav-links a:hover{
  color:#38b8ff;
  letter-spacing: 5px;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition:all 0.5s ease;
}
@media only screen and (max-width: 760px){
    nav{
    justify-content: space-between;
    padding: 0 5vw;
  }
  .nav-links{
    display: none;
    position: absolute;
    right: 0;
    top: 8vh;
    min-height:200px;
    background-color: rgb(231, 47, 47);

    flex-direction: column;
    align-items: center;   
    width: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition:All 0.5s ease-in;

  }
  .nav-links a{
    opacity: 0;
  
  }
  .burger{
    display: block;
  }
  
}
@media only screen and (max-width: 640px){
  nav{
    justify-content: space-between;
    padding: 0 5vw;
  }
}
.nav-active{
  transform: translateX(0);
  display: flex;
}
@media only screen and (max-width: 460px){
  .nav-links{
    width: 100%;
    transition:All 0.5s ease;
  }
}
.nav-active{
  transform: translateX(0);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px );
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px );
}